# Generated using
# pip3 freeze > requirements.txt
Flask==3.0.2
numpy==1.26.4
opencv-python==4.9.0.80
pytest==8.0.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cpu
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.17.0+cpu